.tt-news {
  max-width: 950px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
}

body:not(.dark) #news h3 {
  -webkit-text-fill-color: var(--text-secondary-color) !important;
  color: var(---text-secondary-color) !important;
}

body.dark #news h3 {
  -webkit-text-fill-color: var(--text-secondary-color-dark) !important;
  color: var(--text-secondary-color-dark) !important;
}

