{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
  <div class="container">
    <h3 class="text-center">{{ .Site.Params.projects.title | default "Projects" }}</h3>
    <div class="row justify-content-center px-3 px-md-5">

      {{/* prepare items with optional maxItems limit */}}
      {{ $items := .Site.Params.projects.items }}
      {{ $max := .Site.Params.projects.maxItems | default 0 }}
      {{ if gt $max 0 }}
        {{ $items = first $max $items }}
      {{ end }}

      {{ range $items }}
        {{/* choose main click target: primary_link > first links.url > featured.link */}}
        {{ $link := "" }}
        {{ if .primary_link }}
          {{ $link = .primary_link }}
        {{ else if .links }}
          {{ $link = (index .links 0).url }}
        {{ else if .featured }}
          {{ $link = .featured.link }}
        {{ end }}

        <div class="col-lg-4 col-md-6 my-3">
          <div class="card my-3 h-100"
               title="{{ .title }}"
               role="link"
               tabindex="0"
               style="cursor:pointer"
               {{ if $link }}onclick="window.location.href='{{ $link }}'" onkeypress="if(event.key==='Enter'){window.location.href='{{ $link }}'}"{{ end }}>
            <div class="card-head">
              <img class="card-img-top" src="{{ .image }}" alt="{{ .title }}" loading="lazy" decoding="async">
            </div>
            <div class="card-body bg-transparent p-3">
              <div class="pb-2 bg-transparent">
                {{ range .badges }}
                    <span class="badge badge-secondary badge-tag" data-tag="{{ . }}">{{ . }}</span>
                {{ end }}
              </div>
              <h5 class="card-title bg-transparent mt-1">{{ .title }}</h5>
              <div class="card-text bg-transparent secondary-font">
                {{ .content }}
              </div>
            </div>

            {{ if or (.links) (.featured) }}
              <div class="card-footer py-3">
                {{ range .links }}
                  <span class="m-1 mx-2">
                    <a href="{{ .url }}" target="_blank" onclick="event.stopPropagation();">
                      <i class="{{ .icon }}"></i>
                    </a>
                  </span>
                {{ end }}
                {{ if .featured }}
                  <span class="float-end">
                    <a class="btn btn-sm" href="{{ .featured.link }}" target="_blank" onclick="event.stopPropagation();">
                      {{ .featured.name }}
                    </a>
                  </span>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}

    </div>
  </div>
</section>
{{ end }}
