{{- $credentials := .Site.Params.credentials -}}
{{- if and (reflect.IsMap $credentials) (isset $credentials "enable") (index $credentials "enable") -}}
<section id="credentials" class="py-0 py-sm-5">
  <div class="container bg-transparent">
    <h3 class="text-center bg-transparent">{{ index $credentials "title" | default "Credentials" }}</h3>
    <div class="row justify-content-center px-3 py-5">
      <div class="col-12 col-md-10">
        <div class="row g-3 justify-content-center">
          {{- range (index $credentials "items") }}
          <div class="col-12 col-md-6">
            <article class="credential-card h-100">
              <div class="credential-mark" aria-hidden="true">
                <i class="fas fa-certificate"></i>
              </div>
              <div>
                <div class="credential-date">{{ .date }}</div>
                <h5 class="credential-title">{{ .title }}</h5>
                <div class="credential-issuer">{{ .issuer }}</div>
              </div>
            </article>
          </div>
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end -}}
